$sub: #575A4B;
$accent: #DBF4A7;
$accent2: #BFDBF7;
$accent3: #B79492;
$shadow: 2px 2px 9px #eaeaea;
$radius: 10px;

.info {
	margin-bottom: 15px;

	display: flex;
	justify-content: space-between;

	padding: 3px 10px 5px 10px;
	border-radius: $radius;
	background-color: white;
	box-shadow: $shadow;
}

.tag {
	color: $sub;

	svg {
		margin-right: 5px;
	}
}

.date {
	display: flex;
}

.publishedAt {
	margin-right: 15px;

	color: $sub;

	svg {
		margin-right: 5px;
	}
}

.updatedAt {
	color: $sub;

	svg {
		margin-right: 5px;
	}
}

.title {
	margin-bottom: 5px;

	text-align: center;
	font-size: 36px;
}

.writer {
	margin-bottom: 30px;

	text-align: center;

	color: $sub;
	font-weight: bold;

	svg {
		margin-right: 5px;
	}
}

.toc {
	margin: 0 10px;
}

.post {
	h1 {
		margin-bottom: 25px;

		padding-left: 10px;
		padding-top: 3px;
		padding-bottom: 5px;

		border-left: 8px double $accent;
		background-color: white;

		font-size: 28px;
	}

	h2 {
		margin: 0 5px;
		margin-bottom: 20px;

		padding-left: 8px;
		padding-bottom: 3px;

		border-bottom: 3px dashed $accent;

		font-size: 25px;
	}

	h3 {
		display: inline-block;

		margin: 0 8px;
		margin-bottom: 20px;

		padding-left: 5px;
		padding-right: 10%;

		border-bottom: 2px solid $accent;

		font-size: 22px;
	}

	h4 {
		margin: 0 10px;
		margin-bottom: 5px;

		font-size: 19px;
	}

	p {
		margin: 0 10px;
		margin-bottom: 30px;

		line-height: 2;
		letter-spacing: 0.2px;

		font-size: 16px;
	}

	ul {
		margin: 0 10px;
		margin-bottom: 30px;
	}

	ul > li::before {
		content: '・';
	}

	pre {
		margin: 0 10px;
		margin-bottom: 30px;

		line-height: 1.5;

		padding: 10px 20px;
		border-left: solid 10px $accent2;
		background: #2F3437;
		color: #fff;
		overflow: auto;
		box-shadow: $shadow;
	}

	blockquote {
		margin: 0 10px;
		margin-bottom: 30px;

		position: relative;
		padding: 35px 15px 10px 15px;
		box-sizing: border-box;
		font-style: italic;
		background: #f5f5f5;
		border-left: 4px solid $accent2;
		box-shadow: $shadow;
	}

	blockquote:before {
		display: inline-block;
		position: absolute;
		top: 2px;
		left: 3px;
		content: "“";
		color: #9dd4ff;
		font-size: 60px;
		line-height: 1;
	}

	p:has(img) {
		display: flex;
		justify-content: center;
	}

	img {
		width: 80%;

		box-shadow: $shadow;

		@media screen and (max-width: 641px) {
			width: 100%;
		}
	}

	iframe {
		margin-bottom: 30px;
		margin: 0 10px;

		@media screen and (max-width: 641px) {
			aspect-ratio: 16/9;
			width: calc(100% - 20px);
			height: 100%;
		}
	}

}