@import url('https://fonts.googleapis.com/css2?Source+Code+Pro&family=Zen+Maru+Gothic&display=swap');

/* 全体設定 */
* {
  margin: 0;
  padding: 0;
}

p,
a,
h1,
h2,
h3,
h4,
li,
blockquote
{
  font-family: 'Zen Maru Gothic', sans-serif;
}

code {
  font-family: 'Source Code Pro', monospace;
}

a {
  color: darkmagenta;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

#__next {
  background-color: #fbfbfb;
}

/* スマホ用 */
main {
  max-width: 760px;
  margin: 0 auto;
  padding: 20px 10px;
  
  animation-name: fadeinAnime;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

/* PC用 */
@media screen and (min-width: 960px) {
  main {
    width: 760px;
    margin: 0 auto;
  }
}

@keyframes fadeinAnime {
  0% {
    opacity: 0;
  }

  5% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}